body {
  background-color: var(--cinza-bg2);
  height: auto;
}

/* CORPO */

/* ESTILIZAÇÃO DE DATA TARGETS E CLICKS COM ACTIVE E SEM */

.dg-cbtr, .dg-audiovisual, .dg-webdsgn {
  margin-top: -80px;
}

[data-target] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}

[data-target].active {
  opacity: 1;
  transition: .3s;
  visibility: visible;
  position: relative;
}

/* FIM DA ESTILIZAÇÃO DE DATA TARGETS E CLICKS COM ACTIVE E SEM */

/* DESIGN */

/* bloco 1 */
  .linha1 {
    width: 600px;
    position: absolute;
    padding-top: 15px;
    border-bottom: 4px solid var(--amarelo-fonte);
  }

  .dsgn-ctt-img1 img {
    display: block;
    position: relative;
    width: 350px;
  }

  .dsgn-ctt1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* fim do bloco 1 */

/* bloco 2 */

.linha2 {
  width: 350px;
  right: 200px;
  top: 10px;
  position: absolute;
  border-bottom: 4px solid var(--amarelo-fonte);
}

.linha3 {
  height: 150px;
  right: 200px ;
  top: 10px;
  position: absolute;
  border-left: 4px solid var(--amarelo-fonte);
}

.dsgn-ctt-img2 img {
  display: block;
  width: 550px;
}

.dsgn-ctt2-div p {
  padding-top: 200px;
}

.dsgn-ctt2-div {
  position: relative;
}

.dsgn-ctt2 {
  display: flex;
  justify-content: center;
}
/* fim do bloco 2 */

/* bloco 3 */
.dsgn-ctt3 {
  display: flex;
  padding-right: 400px;
  padding-bottom: 64px;
  justify-content: end;
  align-items: center;
}

.dsgn-ctt-img3 img {
  display: block;
  width: 550px;
}
/* fim do bloco 3 */

/* FIM DE DESIGN */




/* SITES E VIDEOS INCORPORADOS */

.site-incorporado {
  display: block;
  height: 600px;
  width: 1200px;
  margin-top: 128px;
  margin-bottom: 128px;
  margin-left: auto;
  margin-right: auto;
}

.video-incorporado {
  display: block;
  margin-top: 128px;
  margin-bottom: 128px;
  margin-left: auto;
  margin-right: auto;
}

/* FIM DE SITES E VIDEOS INCORPORADOS */

/* categoria do portfolio */

.categoria-portfolio p {
  color: var(--cinza-titulo-grande);
  font-weight: bold;
}

/* RESPONSIVIDADE DESIGN GRAFICO */

@media (min-width: 320px) and (max-width: 480px) {
  /* menu */

  #menu-portfolio p {
    display: none;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  /* menu */

  #menu-portfolio p {
    display: none;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  /* menu */

  #menu-portfolio p {
    display: none;
  }

}
