body {
    background-color: var(--cinza-bg2);
    height: 100%
}

/* HEADER */

.botao-sobre .botao-habilidades .botao-portfolio {
    color: inherit;
}

.botao-equipe {
    color: var(--amarelo-fonte);
}

/* FIM DE HEADER */

.integrante img {
    max-width: 250px;
}

.integrante h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

.integrante p {
    max-width: 250px;
}

.integrante img, h2, p {
    padding-bottom: 16px;
}

#equipe-integrantes {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

#equipe h1 {
    text-align: center;
    display: block;
    font-weight: 900;
    padding-top: 96px;
    text-transform: uppercase;
    color: var(--cinza-escuro-principal);
}

