body {
    background-color: var(--cinza-bg2);
    height: auto;
}

#cabecalho-habilidades {
    text-align: center;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to top, transparent 0%, var(--amarelo-fonte) 50%);
}

.cabecalho-titulo {
    padding-top: 40px;
}

.cabecalho-titulo h1 {
    font-size: 5rem;
    color: var(--cinza-bg);
}

.cabecalho-titulo span {
    font-style: italic;
    font-size: 1.65rem;
}

#grid-habilidades {
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.habilidade {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    border-top: 10px solid var(--amarelo-fonte);
    background-color: var(--branco2);
    justify-items: center;
    align-content: center;
}

.habilidade {
    gap: 30px;
}

.habilidade h2 {
    text-align: center;
}

/* RESPONSIVIDADE */

@media (min-width: 320px) and (max-width: 480px) {

    /* CABEÇALHO */

    #cabecalho-habilidades {
        height: 180px;
    }

    .cabecalho-titulo h1 {
        font-size: 2.4rem;
    }
    
    .cabecalho-titulo span {
        font-size: .80rem;
    }

    /* FIM DO CABEÇALHO */

    /* CORPO */

    #grid-habilidades {
        grid-template-columns: 1fr;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 40px;
    }

    .habilidade {
        grid-template-columns: 1fr;
        padding: 30px;
        justify-items: center;
    }

    .habilidade h2 {
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    /* CABEÇALHO */

    #cabecalho-habilidades {
        height: 180px;
    }

    .cabecalho-titulo h1 {
        font-size: 3.7rem;
    }
    
    .cabecalho-titulo span {
        font-size: 1.2rem;
    }

    /* FIM DO CABEÇALHO */

    /* CORPO */

    #grid-habilidades {
        grid-template-columns: 1fr;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 40px;
    }

    .habilidade {
        max-width: 500px;
        grid-template-columns: 1fr;
        padding: 30px;
        justify-items: center;
        justify-self: center;
    }

    .habilidade h2 {
        text-align: center;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
        
    #grid-habilidades {
        gap: 20px;
    }

    .habilidade {
        padding: 30px;
        justify-items: center;
    }

}

