body {
    background-color: var(--cinza-bg2);
    height: auto;
}

#cabecalho-habilidades {
    text-align: center;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to top, transparent 0%, var(--amarelo-fonte) 50%);
}

.cabecalho-titulo {
    padding-top: 40px;
}

.cabecalho-titulo h1 {
    font-size: 5rem;
    color: var(--cinza-bg);
}

.cabecalho-titulo span {
    font-style: italic;
    font-size: 1.65rem;
}



.habilidade {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    border-top: 10px solid var(--amarelo-fonte);
    background-color: var(--branco2);
    justify-items: center;
}

.habilidade {
    gap: 30px;
}

/* RESPONSIVIDADE */

@media (min-width: 769px) and (max-width: 1024px) {
    
    #grid-habilidades {
        max-width: 500px;
        grid-template-columns: 1fr;
    }

    .habilidade {
        margin-bottom: 30px;
    }

    .cabecalho-titulo h1 {
        font-size: 3rem;
    }

    .cabecalho-titulo span {
        font-size: 1rem;
    }

}

