.introducao img {
    display: block;  
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: relative;
}

#textointro {
    position: absolute;
    top: 250px;
    right: 800px;
}

#textointro h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#textointro p {
    font-size: 1.5rem;
}

.banners {
    height: 200px;
    background-color: var(--branco2);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content:  space-evenly;
    margin-top: 30px;
    font-size: 1.2rem;
    z-index: 1000;
}

.banners a {
    padding: 30px;
    text-decoration: none;
}

.banners a:hover {
    color: var(--cinza-fonte);
}

@media (min-width: 992px) {

    .introducao {
        height: 710px;
    }

}




