#introducao {
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/introducaoimagem.jpg);
    background-size: cover;
}

#textointro {
padding-top: 180px;
padding-left: 100px;
}

#textointro h1 {
    font-size: 4.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#textointro p {
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 5px;
}

.banners {
    height: 200px;
    background-color: var(--branco2);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content:  space-evenly;
    margin-top: 30px;
    font-size: 1.2rem;
    z-index: 1000;
}

.banners a {
    padding: 30px;
    text-decoration: none;
}

.banners a:hover {
    color: var(--cinza-fonte);
}


@media (min-width: 992px) {

    .introducao {
        height: 710px;
    }

}




