body {
  background-color: var(--preto-puro);
}


/* MENU PORTFÓLIO */

#menu-portfolio {
  padding-top: 64px;
  height: 190px;
  background-image: linear-gradient(to top, transparent 0%, var(--amarelo-fonte) 40%);
}

#menu-portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 28px;
}

#menu-portfolio p {
  font-weight: bold;
  color: var(--cinza-escuro-principal);

}

#menu-portfolio li {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--cinza-fonte);
}

#menu-portfolio li:hover {
color: var(--cinza-titulo-grande);

}

#menu-portfolio a.active {
  color: var(--preto-puro);
}

/* TITULO  */

.titulo-portfolio {
  text-align: center;
  margin-top: 32px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.titulo-portfolio h1 {
  color: var(--amarelo-fonte);
}

.titulo-portfolio span {
  display: block;
  text-align: center;
  color: var(--amarelo-fonte);
  font-size: 1.5rem;
  font-style: oblique;
}

/* CATEGORIAS */

.container-portfolio {
  margin-top: 64px;
}

.categoria-portfolio h1 {
  display: block;
  width: 512px;
  color: var(--branco2);
  font-weight: bolder;
  font-size: 1.3rem;
  background-color: var(--cinza-escuro-principal);
  padding: 4px;
}

.item-categoria-portfolio a {
  display: block;
  width: 300px;
  transition: 0.3s;
}

.item-categoria-portfolio p {
  color: var(--branco2);
  max-width: 300px;
  margin-top: 8px;
  margin-bottom: 16px;
}

/* CSS CAMPANHAS  */

#campanhas,
#designgrafico,
#webdesign,
#audiovisual,
#cobertura {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 32px;
}

a:hover {
  opacity: 0.8;
}

/* RESPONSIVO */

@media (min-width: 320px) and (max-width: 480px) {

  /* MENU */
  #menu-portfolio {
    height: 300px;}

  #menu-portfolio p {
    display: none;
  }

  #menu-portfolio a {
    color: var(--cinza-bg);
  }
  /* FIM DO MENU */

  /* TITULO */

  .titulo-portfolio {
    width: 100vw;
  }

  .titulo-portfolio h1 {
    font-size: 3rem;
  }

  .titulo-portfolio span {
    font-size: 1.1rem;
  }

  /* FIM DO TITULO */

  /* CORPO */

  .categoria-portfolio h1 {
    max-width: 83vw;
  }

  #campanhas,
  #designgrafico,
  #webdesign,
  #audiovisual,
  #cobertura {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  
  /* MENU */
  #menu-portfolio {
    height: 180px;}

  #menu-portfolio p {
    display: none;
  }

  #menu-portfolio a {
    color: var(--cinza-bg);
  }
  /* FIM DO MENU */
  
  /* TITULO */

  .titulo-portfolio {
    width: 100vw;
  }

  .titulo-portfolio h1 {
    font-size: 3.7rem;
  }

  .titulo-portfolio span {
    font-size: 1.1rem;
  }

  /* FIM DO TITULO */

  /* CORPO */

  .categoria-portfolio h1 {
    max-width: 61vw;
  }

  #campanhas,
  #designgrafico,
  #webdesign,
  #audiovisual,
  #cobertura {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* CORPO */

  .categoria-portfolio h1 {
    max-width: 37vw;
  }

  #campanhas,
  #designgrafico,
  #webdesign,
  #audiovisual,
  #cobertura {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
