body {
    background-color: var(--preto-puro);
}

/* MENU */

.container-menu-portfolio {
max-width: 1400px;
}

/* TITULO  */

.nosso-portfolio {
margin-top: 80px;
color: var(--amarelo-fonte);
}

.subtitulo-portfolio {
    color: var(--amarelo-fonte);
    margin-left: 85px;
    font-size: 1.3rem;
    font-style: oblique;
}

/* CATEGORIAS */

.container-portfolio {
    margin-top: 100px;
}

.categoria-portfolio h1 {
    width: 465px;
    color: var(--branco2);
    font-weight: bolder;
    font-size: 1.3rem;
    background-color: var(--cinza-escuro-principal);
    padding: 4px;
}

.item-categoria-portfolio img {
display: block;
width: 300px;
}

.item-categoria-portfolio p {
    color: var(--branco2);
    max-width: 300px;
    margin-top: 8px;
}

/* CSS CAMPANHAS  */

#campanhas, #designgrafico, #webdesign, #audiovisual, #cobertura {
    display: flex;
    max-width: 1200px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 70px;
   }

a:hover {
    opacity: 0.8;
}
