body {
    background-color: var(--cinza-bg2);
    height: 2200px;
}

html {
    scroll-behavior: smooth;
}

/* ESTILIZAÇAO DO MANIFESTO */

#manifesto {
    height: 50rem;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: var(--cinza-bg2);
    background-image: url(../IMG/menino-tanque.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#manifesto h1 {
    line-height: 1.1;
    color: var(--cinza-titulo-grande);
    z-index: 2;
}

#manifesto .retangulo-cinza {
    align-self: end;
    height: 18.75rem;
}


.historiamanifesto {
    display: flex;
    flex-wrap: wrap;
    color: var(--cinza-fonte);
    gap: 90px;
    padding-top: 30px;
    margin: 0 auto;
    padding-bottom: 530px;
    position: relative;
    z-index: 2;
}

.historiamanifesto p {
    font-size: 1.4rem;
    font-weight: bold;
}


.historiamanifesto a {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
}

.historiamanifesto a:hover {
    color: var(--preto-puro);
}

.divisao {
    color: var(--preto-puro);
}

/* CORPO */

.corpo-manifesto {
    height: 640px;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas:
        "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.corpo-manifesto .linhavertical {
    height: 630px;
}

.corpo-manifesto p {
    grid-area: paragrafo;
}

.corpo-manifesto h2 {
    grid-area: ano;
    text-align: end;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

/* 2015 */

.ano2015 {
    height: 640px;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas:
        "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.ano2015 .linhavertical {
    height: 630px;
}

.ano2015 h1 {
    grid-area: ano;
    text-align: end;
    color: var(--cinza-titulo-grande);
}

.ano2015 h2 {
    margin-top: 10px;
    grid-area: paragrafo;
    grid-row: 1;
    text-align: start;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

.ano2015 p {
    grid-area: paragrafo;
    margin-top: 70px;
}

.ano2015 img {
    grid-area: paragrafo;
    margin-top: 200px;

}

/* 2016 */

.ano2016 {
    height: 250px;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas:
        "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.ano2016 .linhavertical {
    height: 240px;
}

.ano2016 h1 {
    grid-area: ano;
    text-align: end;
    color: var(--cinza-titulo-grande);
}

.ano2016 h2 {
    margin-top: 10px;
    grid-area: paragrafo;
    grid-row: 1;
    text-align: start;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

.ano2016 p {
    grid-area: paragrafo;
    margin-top: 70px;
}

/* 2020 */

.ano2020 {
    height: 360px;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas:
        "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.ano202 .linhavertical {
    height: 300px;
}

.ano2020 h1 {
    grid-area: ano;
    text-align: end;
    color: var(--cinza-titulo-grande);
}

.ano2020 h2 {
    margin-top: 10px;
    grid-area: paragrafo;
    grid-row: 1;
    text-align: start;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

.ano2020 p {
    grid-area: paragrafo;
    margin-top: 70px;
}

/* 2022 */

.ano2022 {
    height: 300px;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas:
        "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.ano2022 .linhavertical {
    height: 300px;
}

.ano2022 h1 {
    grid-area: ano;
    text-align: end;
    color: var(--cinza-titulo-grande);
}

.ano2022 h2 {
    margin-top: 10px;
    grid-area: paragrafo;
    grid-row: 1;
    text-align: start;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

.ano2022 p {
    grid-area: paragrafo;
    margin-top: 70px;
}

.ano2022 a {
    font-weight: bold;
    text-decoration: none;
}

/* RESPONSIVIDADE */

@media (min-width: 320px) and (max-width: 480px) {

    .retangulo-amarelo {
        height: 250px;
    }

    #manifesto {
        background-position: -320px;
    }

    #manifesto .divisao {
        display: none;
    }

    #manifesto .historiamanifesto {
        gap: 10px;
        justify-content: center;
    }

    #manifesto h1 {
        font-size: 2rem;
        word-wrap: normal;
        /* margin-bottom: 40px; */
    }

    .historiamanifesto a {
        color: var(--cinza-titulo-grande);
        font-size: 2.8rem;
        text-decoration: underline;
    }


    /* CORPO DO MANIFESTO */

    .corpo-manifesto {
        height: 640px;
        margin-top: 40px;
        display: inline-block;
        gap: 50px;
        justify-content: center;
    }

    .corpo-manifesto .linhavertical {
        display: none;
    }

    .corpo-manifesto p {
        margin-top: 30px;
    }

    .corpo-manifesto h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    /* 2015 */

    .ano2015 {
        margin-top: 20px;
        height: auto;
        display: inline-block;
        gap: 50px;
        justify-content: center;
    }

    .ano2015 .linhavertical {
        display: none;
    }

    .ano2015 h1 {
        text-align: center;
    }

    .ano2015 h2 {
        margin-top: 10px;
        text-align: center;
    }

    .ano2015 p {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .ano2015 img {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* 2016 */

    .ano2016 {
        margin-top: 20px;
        height: auto;
        display: inline-block;
    }

    .ano2016 .linhavertical {
        display: none;
    }

    .ano2016 h1 {
        margin-top: 10px;
        text-align: center;
    }

    .ano2016 h2 {
        margin-top: 10px;
        text-align: center;
    }

    .ano2016 p {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* 2020 */

    .ano2020 {
        margin-top: 20px;
        height: auto;
        display: inline-block;
        gap: 50px;
        justify-content: center;
    }

    .ano202 .linhavertical {
        display: none;
    }

    .ano2020 h1 {
        text-align: center;
    }

    .ano2020 h2 {
        margin-top: 10px;
        text-align: center;
    }

    .ano2020 p {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* 2022 */

    .ano2022 {
        margin-top: 20px;
        height: auto;
        display: inline-block;
        gap: 50px;
        justify-content: center;
    }

    .ano2022 .linhavertical {
        display: none;
    }

    .ano2022 h1 {
        text-align: center;
    }

    .ano2022 h2 {
        margin-top: 10px;
        text-align: center;
        font-size: 1.6rem;
    }

    .ano2022 p {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    .retangulo-amarelo {
        height: 170px;
    }

    .historiamanifesto {
        display: flex;
        flex-wrap: wrap;
        color: var(--cinza-escuro-principal);
        gap: 60px;
        padding-top: 30px;
        margin: 0 auto;
        padding-bottom: 530px;
        position: relative;
        z-index: 2;
    }

    .historiamanifesto p {
        font-size: 1.4rem;
        font-weight: bold;
    }


    .historiamanifesto a {
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
    }

    #manifesto h1 {
        font-size: 3.5rem;
        word-wrap: normal;
    }

    /* CORPO DO MANIFESTO */

    .corpo-manifesto {
        height: auto;
        display: inline-block;
        gap: 50px;
        justify-content: center;
    }

    .corpo-manifesto .linhavertical {
        display: none;
    }

    .corpo-manifesto p {
        margin-top: 30px;
    }

    .corpo-manifesto h2 {
        text-align: center;
        font-size: 2rem;
    }

    /* 2015 */

    .ano2015 {
        margin-top: 20px;
        height: auto;
        display: inline-block;
        gap: 50px;
        justify-content: center;
    }

    .ano2015 .linhavertical {
        display: none;
    }

    .ano2015 h1 {
        text-align: center;
    }

    .ano2015 h2 {
        margin-top: 10px;
        text-align: center;
    }

    .ano2015 p {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .ano2015 img {
        margin-top: 30px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* 2016 */

    .ano2016 {
        margin-top: 20px;
        height: auto;
        display: inline-block;
    }

    .ano2016 .linhavertical {
        display: none;
    }

    .ano2016 h1 {
        margin-top: 10px;
        text-align: center;
    }

    .ano2016 h2 {
        margin-top: 10px;
        text-align: center;
    }

    .ano2016 p {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* 2020 */

    .ano2020 {
        margin-top: 20px;
        height: auto;
        display: inline-block;
        gap: 50px;
        justify-content: center;
    }

    .ano202 .linhavertical {
        display: none;
    }

    .ano2020 h1 {
        text-align: center;
    }

    .ano2020 h2 {
        margin-top: 10px;
        text-align: center;
    }

    .ano2020 p {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* 2022 */

    .ano2022 {
        margin-top: 20px;
        height: auto;
        display: inline-block;
        gap: 50px;
        justify-content: center;
    }

    .ano2022 .linhavertical {
        display: none;
    }

    .ano2022 h1 {
        text-align: center;
    }

    .ano2022 h2 {
        margin-top: 10px;
        text-align: center;
        font-size: 1.6rem;
    }

    .ano2022 p {
        margin-top: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    /* CORPO MANIFESTO */

    .corpo-manifesto {
        height: auto;
        grid-template-columns: 10fr 1fr 10fr;
    }

    .corpo-manifesto h2 {
        font-size: 1.6rem;
    }

    .corpo-manifesto p {
        max-width: 35vw;
    }

    .corpo-manifesto .linhavertical {
        height: 850px;
    }

    /* ANO 2015  */

    .ano2015 {
        margin-top: -40px;
        height: auto;
        grid-template-columns: 10fr 1fr 10fr;
    }

    .ano2015 h2 {
        font-size: 1.6rem;
    }


    .ano2015 p {
        max-width: 35vw;
    }

    .ano2015 img {
        margin-top: 250px;
        max-width: 35vw;
    }

    .ano2015 .linhavertical {
        height: 600px;
    }


    /* ANO 2016 */

    .ano2016 {
        margin-top: 10px;
        height: auto;
        grid-template-columns: 10fr 1fr 10fr;
    }

    .ano2016 h2 {
        font-size: 1.6rem;
    }

    .ano2016 p {
        max-width: 35vw;
    }

    .ano2016 .linhavertical {
        height: 280px;
    }

    /* ANO 2020 */


    .ano2020 p {
        max-width: 35vw;
    }

    .ano2020 {
        margin-top: 10px;
        height: auto;
        grid-template-columns: 10fr 1fr 10fr;
    }

    .ano2020 h2 {
        font-size: 1.6rem;
    }

    .ano2020 .linhavertical {
        height: 410px;
    }

    /* ANO 2022 */

    .ano2022 p {
        max-width: 35vw;
    }

    .ano2022 {
        margin-top: 10px;
        height: auto;
        grid-template-columns: 10fr 1fr 10fr;
    }

    .ano2022 h2 {
        font-size: 1.6rem;
    }

    .ano2022 .linhavertical {
        height: 400px;
    }

}