body {
    background-color: var(--cinza-bg2);;
}

/* ESTILIZAÇAO DO MANIFESTO */

#manifesto {
    height: 50rem;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: var(--cinza-bg2);
    background-image: url(../IMG/menino-tanque.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#manifesto h1 {
    line-height: 1.1;
    color: var(--cinza-titulo-grande);
    z-index: 2;
}

#manifesto .retangulo-cinza {
    align-self: end;
    height: 18.75rem;
}


.containerdomanifesto {
    display: grid;
}

.historiamanifesto {
    display: flex;
    flex-wrap: wrap;
    color: var(--cinza-fonte);
    gap: 90px;
    padding-top: 30px;
    margin: 0 auto;
    padding-bottom: 530px;
    position: relative;
    z-index: 2;
}

.historiamanifesto p {
    font-size: 1.4rem;
    font-weight: bold;
}


.historiamanifesto a {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
}

.historiamanifesto a:hover {
    color: var(--preto-puro);
}

.divisao {
    color: var(--preto-puro);
}

/* CORPO */

.corpo-manifesto {
    height: 640px;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas: 
    "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.corpo-manifesto p {
    grid-area: paragrafo;
}

.corpo-manifesto h2 {
    grid-area: ano;
    text-align: end;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

/* 2015 */

.ano2015 {
    height: 640px;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas: 
    "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.ano2015 h1 {
    grid-area: ano;
    text-align: end;
    color: var(--cinza-titulo-grande);
}

.ano2015 h2 {
    margin-top: 10px;
    grid-area: paragrafo;
    grid-row: 1;
    text-align: start;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

.ano2015 p {
    grid-area: paragrafo;
    margin-top: 70px;
}

.ano2015 img {
    grid-area: paragrafo;
    margin-top: 200px;

}

/* 2016 */

.ano2016 {
    height: 250px;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas: 
    "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.ano2016 h1 {
    grid-area: ano;
    text-align: end;
    color: var(--cinza-titulo-grande);
}

.ano2016 h2 {
    margin-top: 10px;
    grid-area: paragrafo;
    grid-row: 1;
    text-align: start;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

.ano2016 p {
    grid-area: paragrafo;
    margin-top: 70px;
}

/* 2020 */

.ano2020 {
    height: 360px;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas: 
    "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.ano2020 h1 {
    grid-area: ano;
    text-align: end;
    color: var(--cinza-titulo-grande);
}

.ano2020 h2 {
    margin-top: 10px;
    grid-area: paragrafo;
    grid-row: 1;
    text-align: start;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

.ano2020 p {
    grid-area: paragrafo;
    margin-top: 70px;
}

/* 2022 */

.ano2022 {
    height: 300px;
    display: grid;
    grid-template-columns: 25rem 1.25rem 25rem;
    grid-template-areas: 
    "ano linha paragrafo";
    gap: 50px;
    justify-content: center;
}

.ano2022 h1 {
    grid-area: ano;
    text-align: end;
    color: var(--cinza-titulo-grande);
}

.ano2022 h2 {
    margin-top: 10px;
    grid-area: paragrafo;
    grid-row: 1;
    text-align: start;
    font-weight: bold;
    color: var(--cinza-titulo-grande);
}

.ano2022 p {
    grid-area: paragrafo;
    margin-top: 70px;
}

.ano2022 a {
    font-weight: bold;
}



