/* CORES */

@import url(./cores.css);

/* Sobre */

@import url(./sobre.css);

/* Portfolio */

@import url(./portfolio.css);

/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

/* ESTRUTURA */

/* Header */

.header-bg {
    background-color: var(--cinza-escuro-principal);
}

#logo {
    display: block;
    width: 200px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 10px;
    color: var(--cinza-fonte);
    font-size: 1.3rem;
}

#menu a:hover {
    color: var(--amarelo-fonte);
    text-decoration: none;
}

#btn-mobile {
    display: none;
}


/* FIM DO HEADER  */

/* INTRODUÇÃO */

#introducao {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/introducaoimagem.jpg);
    background-size: cover;
}

#texto-intro {
    margin-top: 200px;
    margin-left: 80px;
    color: var(--amarelo-fonte);
    max-width: 50vw;
    font-size: 5vw;
    font-weight: 600;
  }

/* O QUE FAZEMOS */

#oquefazemos-container {
    height: 220px;
    background-color: var(--cinza-bg);
    margin-top: 45px;
    font-size: 1.2rem;
    z-index: 1000;
}

#oquefazemos-container h2 {
    font-size: 2.5rem;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    color: var(--branco2);
}

#oquefazemos img {
    display: block;
    max-width: 250px;
    margin-bottom: 15px;
}

#oquefazemos {
    display: flex;
    max-width: 1200px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-content: center;
    justify-content:  space-between;

}

#oquefazemos::-webkit-scrollbar {
    height: 5px;
    border-radius: 5px;
    background-color: var(--cinza-titulo-grande);
}

#oquefazemos::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--cinza-fonte);
}


/* FIM DA INTRODUÇÃO */

/* TRABALHAMOS PARA  */

.trabalhamospara-bg {
    background-color: var(--cinza-escuro-principal);
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--branco-puro);
}

.trabalhamospara-bg h1 {
padding-top: 40px;
padding-bottom: 40px;
}

#clientes {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 1200px;
    height: 290px;
    align-content: center;
    justify-content: space-between;
}

#clientes::-webkit-scrollbar {
    height: 5px;
    border-radius: 5px;
    background-color: var(--cinza-titulo-grande);
}

#clientes::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--cinza-fonte);
}

.cliente a {
    display: block;
    width: 250px;
    margin-bottom: 80px;
}


/* FIM DE TRABALHAMOS PARA */

/* FOOTER */

.footer-bg {
    background-color: var(--cinza-escuro-principal);
    height: 600px;
    margin-top: 50px;
    z-index: 1;
}

.footer {
    z-index: 1;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-content: space-evenly;
    color: var(--branco2);
}

.localizacao {
    display: flex;
    gap: 60px;
    grid-column: 2;
    font-size: .9rem;
}

.linksuteis {
    margin-top: 60px;
}

.footer ul {
    grid-column: 1;
}

.footer li {
    margin-bottom: 6px;
    font-size: 1.3rem;
}

.footer h1 {
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: var(--branco2);
    position: relative;
}

.footer a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    bottom: -7px;
    background-color: var(--branco2);
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .footer a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.mapa iframe {
    z-index: 1;
    width: 700px;
}

/* FIM DE FOOTER */

/* RESPONSIVO */

@media (max-width: 992px) {
    .footer {
        grid-template-columns: 1fr;
        padding-top: 0px;
    }

    .linksuteis {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .mapa:before{
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: var(--cinza-fonte);
    }

    .footer h1 {
        font-size: 1.2rem;
        padding-bottom: 15px;
        justify-self: center;
    }

    .footer ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 10px;
    }

    .footer li {
        font-size: .85rem;
    }

    .localizacao {
        grid-column: 1;
        justify-content: space-around;
        margin-left: -10px;
        font-size: .85rem;
    }
    
    .mapa iframe {
        width: 100%;
        padding-top: 25px;
    }


    #texto-intro {
        margin-top: 30vh;
        color: var(--amarelo-fonte);
        max-width: 80vw;
        font-size: 8vw;
        font-weight: 600;
      }


    .footer {
        grid-template-columns: 1fr;
        padding-top: 0px;
    }

    .linksuteis {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .mapa:before{
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: var(--cinza-fonte);
    }

    .footer h1 {
        font-size: 1.2rem;
        padding-bottom: 15px;
        justify-self: center;
    }

    .footer ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 10px;
    }

    .footer li {
        font-size: .85rem;
    }

    .localizacao {
        grid-column: 1;
        justify-content: space-around;
        margin-left: -10px;
        font-size: .85rem;
    }
    
    .mapa iframe {
        width: 100%;
        padding-top: 25px;
    }

}

@media (max-width: 768px) {

    #texto-intro {
        margin-top: 30vh;
        color: var(--amarelo-fonte);
        max-width: 80vw;
        font-size: 8vw;
        font-weight: 600;
      }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        top: 38px;
        right: 0px;
        background-color: var(--cinza-escuro-principal);
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu li {
        padding: .75rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .5);
    }

    #btn-mobile {
        display: block;
        height: 50px;
        width: 50px;
        margin-right: 10px;
        background: none;
        border: none;
    }

    .footer-bg {
        background-color: var(--cinza-escuro-principal);
        height: 650px;
        margin-top: 50px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {

    #texto-intro {
        margin-top: 35vh;
        color: var(--amarelo-fonte);
        max-width: 80vw;
        font-size: 9vw;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
      }

      /* O QUE FAZEMOS */ 

    #oquefazemos {
        display: flex;
        max-width: 90vw;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    #oquefazemos img {
        margin-left: auto;
        margin-right: auto;
    }

    #oquefazemos-container {
        height: 550px;
    }

    #oquefazemos-container h2 {
        text-align: center;
        font-size: 3rem;
    }

    /* FOOTER */
    
    .footer-bg {
        background-color: var(--cinza-escuro-principal);
        height: 650px;
        margin-top: 50px;
    }

    .localizacao {
        grid-column: 1;
        justify-content: space-around;
        margin-left: -1px;
        font-size: .70rem;
    }

    #btn-mobile {
        display: block;
        height: 50px;
        width: 50px;
        margin-right: 10px;
        background: none;
        border: none;
    }
}