.trabalhamospara-bg {
    background-color: var(--cinza-escuro-principal);
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--branco-puro);
}

.trabalhamospara-bg h1 {
padding-top: 40px;
padding-bottom: 40px;
}

#clientes {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 1200px;
    height: 290px;
}

#clientes::-webkit-scrollbar {
    height: 8px;
    border-radius: 5px;
    background-color: var(--cinza-titulo-grande);
}

#clientes::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--cinza-fonte);
}

.cliente a {
    display: block;
    width: 280px;
    height: 280px;
    margin-bottom: 80px;
}

@media (max-width: 930px) {

    #clientes {
        overflow-x: auto;
    }

}


